{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Actas'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Actas</h1>

<form class="form-horizontal">
    <fieldset>        
        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Cliente</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.cliente }}</span>            
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Actuacion</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.actuacion }}</span>            
            </div>
        </div>          
        <div class="control-group">
            <label class="control-label">Fecha</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.fecha|date('d-m-Y') }}</span>            
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Abogado</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.abogado }}</span>            
            </div>
        </div> 
        <div class="control-group">
            <label class="control-label">Abogado Contraparte</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.abogadoContraparte }}</span>            
            </div>
        </div> 
        <div class="control-group">
            <label class="control-label">Juzgado</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.juzgado }}</span>            
            </div>
        </div> 
        <div class="control-group">
            <label class="control-label">Detalle</label>
            <div class="controls">                
                <span class="input-xlarge uneditable-input">{{ entity.detalle }}</span>  
            </div>
    </fieldset>
</form>



<div>
    <div class="float-left">
        <a class="btn" href="{{ path('actas') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('actas_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('actas_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>

{% endblock %}